ion-side-menus(side="right")
  ion-side-menu-content
    ion-header-bar.bar-positive.flat
      button.button.button-icon.ion-navicon.flat(
        ng-click="vm.toggleLeft()"
        ng-hide="$exposeAside.active"
      )
      h1.title {{ $root.title }}
    ion-nav-view(
      style="top:44px;height:calc(100% - 44px)"
      name='content'
    )

  ion-side-menu(
    expose-aside-when="large"
    )
    ion-header-bar.flat
      h1.title Menu
    ion-content
      .list
        a.item.item-icon-left(
          ui-sref-active="active"
          ui-sref="tab.hal"
          )
          i.icon.ion-map
          | HAL

