.content.double-padding
  ion-spinner(
    style="display:block; margin: 20px; text-align: center"
    ng-show="vm.state === 'isLoading'"
    )

  h1(
    ng-if="vm.state === 'isCompleted'"
    )
    | Payment Completed.

  form(
    ng-if="vm.state === 'isInitial'"
    method="post" 
    ng-submit="vm.createTransaction()"
    )
      #dropin

      button.button.button-assertive.button-full.button-large(
        type="submit" 
      )
        i.icon.ion-android-happy
        span &nbsp;
        span Donate ({{ 1 | currency }})
